{%- set open = '{{' -%}
{%- set close = '}}' -%}

# {{ open }}{{ lexicon.title }}{{ close }}

{%- for lexeme in lexicon.lexemes %}

<div id="{{ lexeme.lemma }}">
	<b><a href="#{{ lexeme.lemma }}">{{ open }}{{ lexeme.lemma }}{{ close }}</a></b> · {{ open }}{{ lexeme.class }}{{ close }} · {{ open }}{{ lexeme.definition }}{{ close }}
</div>
{%- endfor %}
