<h1>
{{- lexicon.format.native.prefix -}}
{{- lexicon.format.native.title -}}
{{- lexicon.format.native.suffix -}}
</h1>

<dl>
{%- for lexeme in lexicon.lexemes -%}
{%- if lexeme.definition %}
<dt id="{{ lexeme.lemma }}" class="lexi-entry">
	<a class="lexi-entry-link" href="#{{ lexeme.lemma }}">🔗</a>
	<span class="lexi-lexeme">
		{{- lexicon.format.native.prefix -}}
		{{- lexeme.lemma -}}
		{{- lexicon.format.native.suffix -}}
	</span>
	<span class="lexi-class">
		{{- lexicon.format.native.prefix -}}
		{{- lexeme.class -}}
		{{- lexicon.format.native.suffix -}}
	</span>
</dt>
<dd>
	{{- lexicon.format.native.prefix -}}
	{{- lexeme.definition -}}
	{{- lexicon.format.native.suffix -}}
</dd>
{% endif -%}
{%- endfor -%}
</dl>
