<h1>{{ lexicon.format.foreign_native.title }}</h1>
{% for foreign_glosses in foreign_to_native -%}
{%- set foreign = foreign_glosses.0 -%}
{%- set glosses = foreign_glosses.1 %}
<div id="{{ foreign }}">
	<b><a href="#{{ foreign }}">
		{{- foreign -}}
	</a></b>
	{{- lexicon.format.foreign_native.delimiter -}}
	{%- for gloss in glosses -%}
		{{- gloss -}}
		{%- if not loop.last -%}
			{{- lexicon.format.foreign_native.gloss_delimiter -}}
		{%- endif -%}
	{%- endfor %}
</div>
{% endfor -%}
