<h1>{{ lexicon.format.foreign_native.title }}</h1>

<dl>
{%- for foreign_glosses in foreign_to_native -%}
{%- set foreign = foreign_glosses.0 -%}
{%- set glosses = foreign_glosses.1 %}
<dt id="{{ foreign }}" class="lexi-entry">
	<a class="lexi-entry-link" href="#{{ foreign }}">🔗</a>
	<span class="lexi-lexeme">{{ foreign }}</span>
	{%- for gloss in glosses %}
	<span class="lexi-gloss">
		{{- lexicon.format.native.prefix -}}
		{{- gloss -}}
		{{- lexicon.format.native.suffix -}}
	</span>
	{%- endfor %}
</dt>
{% endfor -%}
</dl>
