<h1>{{ lexicon.format.native_foreign.title }}</h1>

<dl>
{%- for lexeme in lexicon.lexemes -%}
{%- if lexeme.glosses or lexeme.translation %}
<dt id="{{ lexeme.lemma }}" class="lexi-entry">
	<a class="lexi-entry-link" href="#{{ lexeme.lemma }}">🔗</a>
	<span class="lexi-lexeme">
		{{- lexicon.format.native.prefix -}}
		{{- lexeme.lemma -}}
		{{- lexicon.format.native.suffix -}}
	</span>
	{%- for gloss in lexeme.glosses %}
	<span class="lexi-gloss">{{ gloss }}</span>
	{%- endfor %}
</dt>
{%- if lexeme.translation %}
<dd>{{ lexeme.translation }}</dd>
{%- endif %}
{% endif -%}
{%- endfor -%}
</dl>
