<html>
	<head>
		<style type="text/css">
			{%- if font %}
			@font-face {
				font-family: custom-lexi-font;
				src: url({{ font }});
			}
			{%- endif %}
			body {
				{%- if font %}
				font-family: custom-lexi-font;
				{%- endif %}
				color: #c5c5c5;
				background-color: hsl(210, 25%, 8%);
				margin: 0px auto;
				max-width: 850px;
				padding-top: 80px;
			}
			div {
				line-height: 1.6;
			}
		</style>
	</head>
	<body>
		<h1>{{ lexicon.language }}</h1>
		{%- for lexeme in lexicon.lexemes %}
		<div id="{{ lexeme.lemma }}">
			<b><a href="#{{ lexeme.lemma }}">{{ lexeme.lemma }}</a></b> · {{ lexeme.class }} · {{ lexeme.definition }}
		</div>
		{%- endfor %}
	</body>
</html>
